<div class="row">
  <!-- order-card start -->
  @for (card of cards; track card) {
    <div class="col-md-6 col-xl-3">
      <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
        <h6 class="text-white">{{ card.title }}</h6>
        <h2 class="text-end text-white">
          <i class="feather {{ card.icon }} float-start"></i>
          <span>{{ card.number }}</span>
        </h2>
        <p class="m-b-0">
          {{ card.text }}
          <span class="float-end">{{ card.no }}</span>
        </p>
      </app-card>
    </div>
  } 
  <!-- account-section end -->
</div>

  
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Hello Card" [options]="false">
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
        in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </app-card>
  </div>
</div>
