<p>listado completo {{titulo}}</p>
<ul>
    <!-- //Como un foreach -->
    <button (click)="borrar()">Borrar</button>
    <br>
    <div *ngIf="etiquetaBorrado; else noBorrado">
        <h3>Empleado Borrado</h3>
        <span>{{etiquetaBorrado}}</span>
    </div>
    <!-- Cuando no se cumple la condicion se puede manejar de esta manera -->
    <ng-template #noBorrado>
        <h3>No se elimino ningun</h3>
    </ng-template>
    <br>
    <li *ngFor="let item of empleados">
        <!-- pipes para cambiar el formato de visualizacion-->
        {{item.nombres | titlecase}} {{item.apellidos | titlecase}}
        {{item.direccion | uppercase}}
        {{item.sueldo | currency}}
        <hr>
    </li>
</ul>